.portfolio-modal {
  color: $light;
  .modal-dialog {
    max-width:800px;
  }
  
  .modal-content {
    background: rgba($dark, 0.5);
    backdrop-filter: blur(5px);
  }

  .modal-body {
    display: flex;
  }

  .modal-header {
    border: none;
  }

  .modal-img {
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
  }
}