.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: $light;
  font-family: "Noto Sans TC", sans-serif;
}

h5,h6,p,ul,ol {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $dark;
}