// @import '/node_modules/bootstrap/scss/bootstrap.scss';
@import './vendor/bootstrap';

// base
@import './base/base';

// layout
@import './layout/header';
@import './layout/layout';

// components
@import './components/banner';
@import './components/card';
@import './components/modal';

@for $i from 1 through 100 {
  .z-index-#{$i} {
    z-index:#{$i};
  }
};

@for $i from 1 through 10 {
  .multi-ellipsis-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i}; /* 顯示幾行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}